.container {
  background-color: var(--mainMiddle);

  height: 100svh;
  width: 80svw;

}

.forms {
  height: 20svh;
  width: 60svw;

  display: flex;

  box-shadow: 0px 0px 20px 1px rgba(87, 96, 111, 0.33) inset;

  background-color: var(--mainDark);

}

.formContainer,
.answerContainer,
.container,
.veredictStyle {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  text-align: center;

  text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.41);

}

.form {
  color: var(--mainDark);
}

.formContainer {
  width: 50%;

}

.answerContainer {
  width: 60svw;
  height: 30svh;

}

.resultStyle {
  font-size: 20svw;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

@media screen and (max-width: 320px) {
  .resultStyle {
    font-size: 64px;
  }
}

@media screen and (max-width: 425px) {
  .container {
    width: 100svw;
  }
  .forms {
    flex-direction: column;
    
    align-items: center;
  }

  .form {
    width: 100%;
  }

}


@media screen and (min-width: 426px) {
  .resultStyle {
    font-size: 80px;
  }
}